.button {
    background-color: #572a01;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
body {background-color: beige;}
h1   {color: #803f11;}
h2   {color: saddlebrown;}
p    {color: black;}
p    {font-family: Arial,sans-serif;}
h1   {font-family: Verdana,serif;}
h2   {font-family: Verdana,serif;}